@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: "Lato", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




.header{
    background-color: rgba(229, 84, 115, 0.1);
    max-width: 1920px;
    max-height: 850px;
    margin: 0 auto;
    margin-bottom: 178px;
    
}

.sec1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 97px;
}
.sec1-txt-container{
    /* gap: 97px;
    margin: 197px 972px 147px 240px; */
    
}
.sec1-title{
    
    width: 708px;
    height: 288px;
    font-size: 80px;
    font-weight:900 ;
    color:#272727;
    margin-bottom: 32px;

}
.sec1-paragraph{
    height: 90px;
    width: 634px;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 32px;
}
.sec1-btn{
    font-family: "Lato", sans-serif;
    width: 177px;
    height: 64px;
    cursor: pointer;
    color: white;
    background-color: rgba(229, 84, 115, 1);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}
.sec1-btn:hover{
    opacity: 0.5;
    box-shadow: 0 0 20px 0 lightgray;
}

.sec1-img{
        margin-top: 50px;
}




/* sec2 start */
.sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 132px;
    width: 594px;
    margin: 0 auto;
    text-align: center;
    

}

.sec2-title{
    font-size: 40px;
    font-weight: 900;
    color: #272727;
  
}

.sec2-paragraph{
    font-size: 18px;
    color:rgba(39, 39, 39, 0.6);
    margin-top: 24px;
    margin-bottom: 48px;
}


/* sec3 start */
.sec3-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 1440px;
    height: 605px;
    margin: 0 auto;
    text-align: center;
    gap: 24px;
    
}


.sec3-box-container{
   width: 464px;
   height: 605px;

   

}
.sec3-img1{


    background-color:rgba(167, 33, 98, 0.15);
    border-radius: 50% 50% 0 0;
    padding: 110px 78px 0px 76px;
    
    /* width: 310px; */
    /* height: 428px; */
    
    /* width: 464px; */
    /* height: 605px; */
   
   

}
.sec3-img2{

    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 50% 50% 0 0;
    padding: 117px 47px 51px 47px;
    /* width: 370px; */
    /* height: 370px; */
    
    /* width: 464px; */
    /* height: 605px; */
   

}
.sec3-img3{
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 50% 50% 0 0;
    padding: 67px 75px 0px 75px;


    /* width: 314px; */
    /* height: 471px; */

    /* width: 464px; */
    /* height: 605px; */
   

}
.sec3-box-title{
    text-align: center;
    width: 178px;
    height: 35px;
    color: rgba(39, 39, 39, 1);
    font-weight:bold;
    font-size: 24px;
    margin-top: 32px;
    width: 464px;
    height: 605px;
    text-decoration: underline;
}


/* section 4 start */

.sec4{
    height: 320px;
    width: 1440px;
    margin: 0 auto;
    margin-top: 128px;
    background-color: rgba(39, 39, 39, 0.05);
    border: 1px solid;
    border-radius: 8px;
    
}


.sec4-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 147px;
    width: 1090px;
    
    margin: 86px 175px;
    gap: 100px;;

    
}

.sec4-box1{
    width: 372px;
    height: 147px;


}

.sec4-box2{
    width: 316px;
    height: 147px;
}
.sec4-box3{
    width: 202px;
    height: 147px;
}

.sec4-txt{
    margin-top: 24px;
    color: rgba(39, 39, 39, 0.8);
    font-size: 24px;
    font-weight: 400;
}

/* sec5 start */

.sec5{

    background-color: rgba(229, 84, 115, 0.05);
   
    max-width: 1922px;
    max-height: 620px;
    border-radius: 8px;
    margin: 0 auto;

    
}
.sec5-container{
    gap: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 128px;
    margin-bottom: 128px; 
    
    


}

.sec5-txt-container{
    width:594px ;
    height:228px ;
    
}


.sec5-title{ font-size: 40px;
    font-weight: 900;
    color: #272727;
    
}
.sec5-paragraph{
    font-size: 18px;
    color:rgba(39, 39, 39, 0.6);
    margin-top: 24px;
}
.sec5-btn{
    margin-top: 32px;
    font-family: "Lato", sans-serif;
    width: 155px;
    height: 64px;
    cursor: pointer;
    color: white;
    background-color: rgba(229, 84, 115, 1);
    border: none;
    padding: 20px 43px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}
.sec5-btn:hover{
    opacity: 0.5;
    box-shadow: 0 0 20px 0 lightgray;
}

.sec5-img{
    height:420px ;
    width:318px ;
    margin:100px;
    /* margin-top: 100px ; */
    /* margin-bottom: 100px; */


}

/* sec 6 start */

.sec6{
   
margin:128px 663px 572px 663px;


}

.sec6-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    width: 594px;
    height: 132px;
    margin: 0 auto;

   
}
.sec6-title{
    font-size: 40px;
    font-weight: 900;
    color: #272727;

}

.sec6-paragraph{
    font-size: 18px;
    color:rgba(39, 39, 39, 0.6);
    
}

.sec6-images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 48px;
    gap: 24px;
    
  
}

.sec6-img1{
    width: 342px;
    height: 396px;
  
}
.sec6-img2{
    width: 342px;
    height: 396px;
  
}
.sec6-img3{
    width: 342px;
    height: 396px;
  
}
.sec6-img4{
    width: 342px;
    height: 396px;
  
}


/* sec7 :start */

.sec7{
    max-width: 1440px;
    height: 449px;
    margin: 0 auto;
    background-image:url(./Flower\ Asset/)
    
}
.sec7-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

